<html>
<head>
    <link rel="apple-touch-icon" sizes="57x57" href="/res/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/res/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/res/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/res/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/res/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/res/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/res/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/res/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/res/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/res/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/res/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/res/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/res/favicon/favicon-16x16.png">
    <link rel="manifest" href="/res/favicon/manifest.json">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="res/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bundle.css">

    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />

    <title>floot</title>
</head>
<body>
<div id="app-container"></div>


<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyBiSP-MkxBb9Nxwcg62Q5F_dDrEOG0lNf8",
        authDomain: "fir-test-c5d35.firebaseapp.com",
        databaseURL: "https://fir-test-c5d35.firebaseio.com",
        projectId: "fir-test-c5d35",
        storageBucket: "",
        messagingSenderId: "963950806435"
    };
    firebase.initializeApp(config);
</script>
<script>
    const initializedState = {{{str this}}};
</script>
<script src="/js/bundle.js"></script>
</body>
</html>